@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Slabo+27px&display=swap');

  *,
  *::before,
  *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  }
  body{
  }
  h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline 6px green;
  }

  nav{
    background-color: rgba(132, 209, 248, 0.452);
    display: flex;
    gap: 3rem;
     position:relative; 
     padding: 2rem;
     justify-content: space-around;
    top: 0;
    left: 0;
    /* z-index: 999; */
    list-style: none;
    box-shadow: 2px 2px 2px rgb(29, 29, 29);
  }
  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40%;
  }
  .image{
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: rgb(241, 211, 216);
  }
  nav li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;
    font-weight: bold;
  }
  nav li a:hover{
    color: rgb(39, 145, 238);
  }
  nav li{
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;
    font-weight: bold;
  }
  nav li:hover{
    color: rgb(39, 145, 238);
  }
  .image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .activity{
    padding: 2rem;
  }
  .u{
    display: none;
    font-size: 1.9rem;
    text-align: center;
  }
  #ok{
    text-align: center;
  }
  
  .message{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .card1{
    padding: 2rem;
    margin-top: 3rem;
    box-shadow: 2px 2px 2px rgb(69, 60, 131);
  }
  p{
    text-align: right;
    color: #fa0aee;
    font-size: 1.9rem;
  }
  span{
    width: 100%;
    font-size: 1.7rem;
    padding: 2 0rem;
  }
  h3{
    padding-bottom: 2rem;
  }
  .user{
    margin-top: 3rem;
  }
  table{
    border-collapse: collapse;
    background-color: aqua;
    display: none;
    
  }
  th{
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid grey;
  }
  td{
    font-weight: 900;
    font-size: 1.2rem;
    border: 1px solid grey;
  }
  /* ----------------------update user------------------------------------------ */
  .updata{
    background-color: #fa0aee;
    margin-top: 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-left: 30rem;
    display: none;
  }
  label{
    font-size: 2rem;
    text-transform: capitalize;
  }
  #update{
    margin-left: 1.5rem;
    padding: 0.6rem;
  }
  .but{
    margin-left: 5.7rem;
    padding: 2rem;
  }
  .but button{
    padding: 0.3rem 7rem;
    font-size: 1.6rem;
  }
  .but button:hover{
    background-color: blue;
  }
  #role{
    padding: 2rem;
    text-align: center;
  }
  .spinner{
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid rgb(250, 248, 248);
    border-radius: 50%;
    border-top: 4px solid rgb(35, 35, 110);
    top: 70%;
    left: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    /* display: none; */
  }
  
  @keyframes spin{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  

