
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Slabo+27px&display=swap');

  *,
  *::before,
  *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  }
  body{
    font-weight:bold
  }

  header{
    background-color: aqua;
    display: flex;
    justify-content:space-around;
    gap: 15rem;
    padding: 2rem;
  }
  a{
    font-size: 2rem;
  }
  hi{
    font-size: 2rem;
  }
  nav{
    background-color: aqua;
    display: flex;
    justify-content:center;
    padding: 2rem;
    gap: 10rem;
  }
  li{

    list-style: none;
  }
  a{
    text-decoration: none;
  }
.main-contant{
    padding: 1rem;
}
h2{
    font-size: 2.5rem;
    color: brown;
}
.news-container {
  padding: 3rem;
  width: 100%;
  background-color: #f1f1f1f1;
}
.news {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 0fr);
}
.card {
  background-color: rgb(141, 188, 206);
}

.card img {
  width: 100%;
}
.card .text {
  width: 100%;
  padding: 1.5rem;
}
.data {
  color: blueviolet;
  font-size: 1.2rem;
  font-weight:bold;
  text-align: right;
}
.card h3 {
  font-size: 1.8rem;
  padding: 1.5rem 0;
  color: #363636;
}
.card p {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: justify;
}
.butt{
  display: inline-block;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.spinner{
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid rgb(250, 248, 248);
  border-radius: 50%;
  border-top: 4px solid rgb(35, 35, 110);
  top: 50%;
  left: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes spin{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

  
